.oxmod-news-ifeng {
  /* CSS */
}
.oxmod-news-ifeng img {
  background: url(//oxm1.cc/img/holder.jpg) no-repeat center center;
}
.oxmod-news-ifeng a {
  color: inherit;
}
.oxmod-news-ifeng .news-li-pic {
  display: none;
  float: left;
  margin-left: -90px;
}
.oxmod-news-ifeng .news-li-pic img {
  width: 80px;
  height: 60px;
  background-size: cover;
}
.oxmod-news-ifeng .news-li {
  padding: 5px 10px 5px 10px;
  overflow: auto;
  border-bottom: solid 1px #eee;
}
.oxmod-news-ifeng .src-count-0 {
  padding-left: 100px;
}
.oxmod-news-ifeng .src-count-0 .news-li-pic {
  display: block;
}
.oxmod-news-ifeng .news-title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
}
.oxmod-news-ifeng .news-bottom {
  color: #999;
  font-size: 0;
  padding-top: 5px;
}
.oxmod-news-ifeng .news-bottom-left,
.oxmod-news-ifeng .news-bottom-right {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  box-sizing: border-box;
}
.oxmod-news-ifeng .news-bottom-right {
  text-align: right;
  background: url(comment.png) no-repeat right center;
  background-size: contain;
  padding-right: 1.2em;
  font-size: .9rem;
  line-height: 1;
}
.oxmod-news-ifeng .news-li-news .news-title {
  height: 40px;
}
.oxmod-news-ifeng .news-li-img {
  padding-left: 10px;
}
.oxmod-news-ifeng .news-li-img .news-title {
  height: 20px;
}
.oxmod-news-ifeng .news-li-topic .topic-tag {
  background-color: #f10;
  color: #fff;
  font-style: normal;
  border-radius: 2px;
  font-size: .8em;
  padding: 1px 2px;
  line-height: 1;
  font-family: sans-serif;
}
.oxmod-news-ifeng .news-li-ad .news-bottom-right {
  display: none;
}
.oxmod-news-ifeng .news-li-ad .news-tag {
  border-radius: 2px;
  font-size: .8em;
  padding: 0px 1px;
  font-family: sans-serif;
  color: #ccc;
  border: solid 1px #ccc;
  line-height: 1;
}
.oxmod-news-ifeng .news-tag {
  font-style: normal;
}
.oxmod-news-ifeng .news-imgs img {
  width: 32%;
  max-height: 80px;
  margin-left: 2%;
}
.oxmod-news-ifeng .news-imgs img:first-child {
  margin-left: 0 !important;
}
.oxmod-news-ifeng .src-count-1 .news-imgs img {
  width: 100%;
  max-height: 200px;
}
.oxmod-news-ifeng .src-count-2 .news-imgs img {
  margin-left: 2%;
  width: 49%;
  height: 80px;
}
